<!-- src/app/components/imoveis/cadastro-imoveis/cadastro-imoveis.component.html -->
<div class="container mt-5">
    <h2>Cadastro de Imóvel</h2>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="id" class="form-label">ID do Imóvel</label>
        <input type="number" class="form-control" id="id" formControlName="id" placeholder="ID do imóvel">
      </div>
  
      <div class="mb-3">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="endereco" formControlName="endereco" placeholder="Endereço do imóvel">
      </div>
  
      <div class="mb-3">
        <label for="proprietarioId" class="form-label">Proprietário ID</label>
        <input type="number" class="form-control" id="proprietarioId" formControlName="proprietarioId" placeholder="ID do proprietário">
      </div>
  
      <div class="mb-3">
        <label for="consumoMensal" class="form-label">Consumo Mensal (m³)</label>
        <input type="number" class="form-control" id="consumoMensal" formControlName="consumoMensal" placeholder="Consumo mensal de água (m³)">
      </div>
  
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" id="status" formControlName="status">
          <option value="ativo">Ativo</option>
          <option value="inativo">Inativo</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="dataCriacao" class="form-label">Data de Criação</label>
        <input type="date" class="form-control" id="dataCriacao" formControlName="dataCriacao">
      </div>
  
      <div class="mb-3">
        <label for="ultimoPagamento" class="form-label">Último Pagamento</label>
        <input type="date" class="form-control" id="ultimoPagamento" formControlName="ultimoPagamento">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="cadastroForm.invalid">Cadastrar</button>
    </form>
  </div>
  