<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
          <div class="card-header">Imóveis</div>
          <div class="card-body">
            <h5 class="card-title">Total de Imóveis</h5>
            <p class="card-text">10 Imóveis cadastrados.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-success">
          <div class="card-header">Faturas</div>
          <div class="card-body">
            <h5 class="card-title">Faturas Pendentes</h5>
            <p class="card-text">5 Faturas pendentes de pagamento.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-3">
        <div class="card text-white bg-danger">
          <div class="card-header">Pagamentos</div>
          <div class="card-body">
            <h5 class="card-title">Pagamentos Pendentes</h5>
            <p class="card-text">3 Pagamentos pendentes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  