<mat-card>
    <h2>Cadastro de Usuário</h2>
  
    <form>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome" name="nome" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="usuario.cpf" name="cpf" required maxlength="11" placeholder="00000000000"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="usuario.telefone" name="telefone" maxlength="11" placeholder="00000000000"/>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="usuario.email" name="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Senha</mat-label>
        <input type="password" matInput [(ngModel)]="usuario.senha" name="senha" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Permissão</mat-label>
        <mat-select [(ngModel)]="usuario.tipo" name="permissao">
          <mat-option *ngFor="let p of permissoes" [value]="p">{{ p }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <div class="acoes">
        <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </mat-card>
  