.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  margin-bottom: 16px;
}

.list-header h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  text-align: left;
  padding: 8px;
}

.mat-header-cell {
  font-weight: bold;
}

.status-pago {
  color: green;
  font-weight: bold;
}

.status-pendente {
  color: orange;
  font-weight: bold;
}

.status-vencido {
  color: red;
  font-weight: bold;
}

/* Estilo para alinhar os botões horizontalmente */
.filter-actions {
  display: flex;
  gap: 16px; /* Espaçamento entre os botões */
  justify-content: flex-start; /* Alinha os botões à esquerda */
  margin-top: 16px; /* Espaçamento acima dos botões */
}

/* Define um tamanho uniforme para os botões */
.filter-actions button {
  flex: 1; /* Faz com que os botões tenham o mesmo tamanho */
  max-width: 150px; /* Limita o tamanho máximo dos botões */
}