/* Estilo para o cabeçalho do menu */
.menu-header {
  padding: 16px 0;
  background-color: #1976d2; /* Azul primário */
  color: #ffffff;
  margin-bottom: 15px;
}

.center-text {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Garante que o texto esteja centralizado */
}

/* Estilo para a lista de navegação */
.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Estilo para os itens do menu */
.menu-item {
  display: flex;
  align-items: center; /* Alinha verticalmente o ícone e o texto */
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
  text-decoration: none;
  border-radius: 1px;
  transition: background-color 0.3s, color 0.3s;

  /* Ícone do menu */
  mat-icon {
    margin-right: 12px;
    color: #757575;
    font-size: 24px; /* Garante um tamanho consistente */
    vertical-align: middle; /* Alinha o ícone verticalmente ao centro */
  }

  /* Texto do menu */
  span {
    flex-grow: 1;
    line-height: 24px; /* Garante que o texto esteja alinhado com o ícone */
  }
}

/* Estilo para o item ativo */
.menu-item.active {
  background-color: #4d86c0; /* Azul primário */
  color: #ffffff;

  mat-icon {
    color: #ffffff;
  }
}

/* Estilo para o hover */
.menu-item:hover {
  background-color: #e3f2fd; /* Azul claro */
  color: #1976d2;

  mat-icon {
    color: #1976d2;
  }
}