<mat-toolbar class="menu-header center-text" color="primary">SAAE</mat-toolbar>
<mat-nav-list class="menu-list">
  <a mat-list-item class="menu-item" routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item class="menu-item" *ngIf="isAuthorized(['ADMIN', 'SAAE', 'PREFEITURA'])" routerLink="/usuarios" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Usuários</span>
  </a>
  <a mat-list-item class="menu-item" *ngIf="isAuthorized(['ADMIN', 'SAAE', 'PREFEITURA'])" routerLink="/imoveis" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Imóveis</span>
  </a>
  <a mat-list-item class="menu-item" *ngIf="isAuthorized(['ADMIN', 'SAAE', 'PREFEITURA'])" routerLink="/beneficios" routerLinkActive="active">
    <mat-icon>card_giftcard</mat-icon>
    <span>Benefícios</span>
  </a>
  <a mat-list-item class="menu-item" *ngIf="isAuthorized(['ADMIN', 'SAAE', 'PREFEITURA'])" routerLink="/configuracao-taxas-impostos" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span>Configuração de Taxas</span>
  </a>
  <a mat-list-item class="menu-item" routerLink="/contas" routerLinkActive="active">
    <mat-icon>receipt</mat-icon>
    <span>Contas</span>
  </a>
  <a mat-list-item class="menu-item" routerLink="/ordem-servico" routerLinkActive="active">
    <mat-icon>build</mat-icon>
    <span>Ordem de Serviço</span>
  </a>
</mat-nav-list>