<!-- src/app/components/perfil/perfil-usuario.component.html -->
<div class="container mt-5">
    <h2>Perfil do Usuário</h2>
  
    <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome completo">
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
      </div>
  
      <div class="mb-3" *ngIf="showPasswordField">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" formControlName="senha" placeholder="Nova senha">
        <small class="form-text text-muted">Preencha este campo apenas se quiser alterar sua senha.</small>
      </div>
  
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <select class="form-select" id="tipo" formControlName="tipo">
          <option value="admin">Admin</option>
          <option value="proprietario">Proprietário</option>
          <option value="atendente">Atendente</option>
        </select>
      </div>
  
      <div class="mb-3">
        <label for="dataCriacao" class="form-label">Data de Criação</label>
        <input type="text" class="form-control" id="dataCriacao" [value]="usuario.dataCriacao | date: 'dd/MM/yyyy'" disabled>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="perfilForm.invalid">Salvar Alterações</button>
    </form>
  </div>
  